<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <%- include('./Partials/navbar') %>
    <h1>Home</h1>
    <%- include('./Partials/back-button') %>

    <section class="categories">
      <% parts.forEach(part =>{ %>
      <div class="category">
        <img src="<%= part.image_url %>" alt="" />

        <a href="/part?<%=part.name%>"><%=part.brand%><%=part.model%></a>
        <button>Edit</button>
        <%-include('./Partials/modal/forms/editForms/editModal',{typeEditForm:"partEditForm",
        Id:part.id,toEdit:"part" }) %>
      </div>
      <%})%>
      <button onclick="" class="add__category__btn">+</button>

      <%- include('./Partials/modal/modal', {type: "part",typeForm:"partForm"});
      %>
    </section>
    <%- include('./Partials/footer') %>
  </body>
</html>
