<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <%- include('./Partials/navbar') %>
    <h1>Home</h1>
    <section class="categories">
      <% parts.forEach(part =>{ %>
      <div class="category">
        <a href="/part?<%=part.name%>"><%=part.brand%><%=part.model%></a>
      </div>
      <%})%>
    </section>
    <%- include('./Partials/footer') %>
  </body>
</html>
