<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <%- include('./Partials/navbar') %>
    <h1>Home</h1>
    <%- include('./Partials/back-button') %>

    <section class="categories">
      <% subcategories.forEach(subcategory =>{ %>
      <div class="category">
        <img src="<%= subcategory.image_url %>" alt="" />
        <a href="/part?subcategory=<%=subcategory.name%>"
          ><%=subcategory.name%></a
        >
      </div>
      <%})%>
    </section>
    <%- include('./Partials/footer') %>
  </body>
</html>
